* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(9, 9, 9);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none;
}
h1,
h3,
h4 {
  color: white;
}

.backgroundImage {
  width: 12.5%;
  height: 750px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -147px 206px #000 inset;
}

.showcase-top {
  position: absolute;
  top: 30px;
  left: 60px;
}
.img {
  width: 233px;
  position: absolute;
  left: -32px;
}

.btn-sign {
  position: absolute;
  top: 11px;
  left: -22px;
  font-size: 33px;
  font-family: revert;
}
.sign-btn {
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: 1596px;
  display: block;
  width: 138px;
  height: 25px;
  background: #a6ae00;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  color: white;
  /* font-weight: bold; */
  line-height: 25px;
}
.home {
  text-decoration: none;
  position: absolute;
  left: 531px;
  color: white;
  border-radius: 10px;
}
.home:hover {
  text-align: center;
  color: #a6ae00;
  border: 2px solid #a6ae00;
  border-radius: 5px;
  padding: 3px;
  width: 100px;
}
.movies {
  text-decoration: none;
  position: absolute;
  left: 706px;
  top: -12px;
  color: white;
  padding: 9px;
}
.movies:hover {
  text-align: center;
  color: #a6ae00;
  border: 2px solid #a6ae00;
  padding: 4px;
  border-radius: 5px;
  width: 110px;
}
.tv {
  text-decoration: none;
  position: absolute;
  left: 890px;
  display: block;
  width: 138px;
  height: 25px;
  /* background: #a6ae00; */
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  /* font-weight: bold; */
  line-height: 25px;
}
.tv:hover {
  text-align: center;
  color: #a6ae00;
  border: 2px solid #a6ae00;
  padding: 9px;
  border-radius: 5px;
  width: 140px;
}
.wep {
  text-decoration: none;
  position: absolute;
  left: 1128px;
  display: block;
  width: 138px;
  height: 25px;
  /* background: #a6ae00; */
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  /* font-weight: bold; */
  line-height: 25px;
}
.wep:hover {
  text-align: center;
  color: #a6ae00;
  border: 2px solid #a6ae00;
  padding: 9px;
  border-radius: 5px;
  width: 160px;
}
.showcase-content {
  position: fixed;
  top: 290px;
  right: 463px;
}
.watch {
  text-align: center;
  font-size: 82px;
}

.para {
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 160px;
  left: 205px;
  font-size: 38px;
}

.email-btn {
  position: absolute;
  left: 121px;
  top: 282px;
}
input.email-box {
  font-size: 30px;
  width: 551px;
  height: 63px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  margin: 0;
  border: 0;
}
button.proceed-btn {
  color: white;
  font-size: 20px;
  width: 217px;
  height: 63px;
  position: absolute;
  left: 569px;
  top: 0px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #a6ae00;
  margin: 0;
  border: 0;
}

.showcase-content,
h3 {
  font-size: 30px;
}
.bottom {
  position: fixed;
  width: 100%;
  height: 250px;
  bottom: 0;
  background-color: #1f1f1f;
}
.footer1 {
  position: absolute;
  left: 207px;
  color: white;
  font-size: 26px;
  top: 34px;
}
.footer1 p {
  padding: 10px;
}
.footer2 {
  position: absolute;
  left: 744px;
  color: white;
  font-size: 26px;
  top: 34px;
}
.footer2 p {
  padding: 10px;
}
.footer3 {
  position: absolute;
  left: 1252px;
  color: white;
  font-size: 26px;
  top: 34px;
}
.footer3 p {
  padding: 10px;
}
p.mediacenter {
  left: 10px;
  position: relative;
}
img.footer-img {
  height: 64px;
}
img.footer-img2 {
  height: 39px;
}

p.rights {
  color: white;
  position: absolute;
  top: 209px;
  left: 284px;
  width: 56%;
  font-size: 31px;
}
/* ui_signup page */

.signupbg {
  width: 14.1%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  background-position: 50% 45%;
  margin-right: 3px;
}
.row-3 {
  box-shadow: 0px -194px 384px #000 inset;
}
.signup_form {
  height: 756px;
  width: 475px;
  position: absolute;
  transform: translate(-57%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  padding: 50px;
  padding-left: 76px;
  font-family: sans-serif;
  opacity: 0.9;
}
input {
  display: block;
  height: 50px;
  width: 90%;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border: 0;
  border-radius: 5px;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
}
form h3 {
  text-align: center;
  color: #999999;
  font-family: sans-serif;
  font-size: x-large;
}
form p {
  text-align: center;
  padding-bottom: 51px;
}
.signup {
  margin-top: 51px;
  width: 95%;
  height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 45px;
  background-color: #a6ae00;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.signup3 {
  margin-top: -18px;
  width: 95%;
  height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 45px;
  background-color: #a6ae00;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* ui_login_form */

.form {
  height: 519px;
  width: 475px;
  position: absolute;
  transform: translate(-57%, -50%);
  top: 40%;
  left: 50%;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  padding: 50px;
  padding-left: 76px;
  font-family: sans-serif;
  opacity: 0.9;
}
.forgotpassword {
  text-decoration: none;
  color: #a6ae00;
  text-align: right;
  transform: translateX(-6%);
  padding: 20px;
}
.login {
  margin-top: 23px;
  width: 95%;
  height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 45px;
  background-color: #a6ae00;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.bottom2 {
  position: relative;
  width: 100%;
  height: 301px;
  background-color: #1f1f1f;
  top: 815px;
}
.bottom3 {
  position: relative;
  width: 100%;
  height: 280px;
  background-color: #1f1f1f;
  top: 902px;
}
.bottom4 {
  position: relative;
  width: 100%;
  height: 301px;
  background-color: #1f1f1f;
  top: 239rem;
}
p.signup_link {
  padding: 32px;
  /* border-top: 9px; */
}
p.rights1 {
  color: white;
  position: absolute;
  top: 242px;
  left: 284px;
  width: 56%;
  font-size: 31px;
}
/* home screen img */
.home_screen_img {
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -147px 206px #000 inset;
}
h1.recent_watch {
  width: 100%;
  position: absolute;
  left: 0px;
  top: -93px;
  /* top: 1099px; */
  font-size: 41px;
  /* margin: 47px; */
}
.middle {
  position: absolute;
  position: center;
  top: 649px;
  left: 212px;
  color: white;
  font-size: 87px;
}
p.center_item {
  position: absolute;
  left: 351px;
}
span.span {
  font-style: bold;
  font-weight: bold;
}
.home_screen_img1 {
  position: relative;
  width: 27%;
  height: 400px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -147px 206px #000 inset;
  margin: 55px;
  padding: 5px;
  margin-top: 135px;
  margin-bottom: 404px;
}

table.table {
  position: absolute;
  top: 427px;
  width: 100%;
}
td.m_name {
  font-size: 62px;
  font-weight: bold;
}
td.crew {
  position: absolute;
  top: 82px;
  left: 5px;
  font-size: 30px;
}
th.actror {
  position: absolute;
  top: 145px;
  left: 4px;
  font-size: 30px;
}
th.colan {
  top: 149px;
  left: 104px;
  position: absolute;
  font-size: 30px;
  color: #a6ae00;
}
td.actor_name {
  position: absolute;
  top: 147px;
  left: 143px;
  font-size: 30px;
}
th.actres {
  position: absolute;
  top: 222px;
  left: 0px;
  font-size: 30px;
}
td.actres_name {
  position: absolute;
  top: 229px;
  font-size: 30px;
  left: 136px;
}
th.year {
  position: absolute;
  top: 289px;
  left: 0px;
  font-size: 30px;
}
td.year_data {
  position: absolute;
  top: 347px;
  left: 0px;
  font-size: 30px;
}
#nameerr,
#emailerr,
#pwderr,
#cityerr {
  display: none;
}

img.eye {
  position: absolute;
  top: 421px;
  left: 474px;
  height: 41px;
}
.out {
  font-size: 20px;
  /* text-decoration: none; */
  position: absolute;
  left: 1596px;
  /* display: block; */
  width: 138px;
  height: 50px;
  background: #a6ae00;
  /* padding: 10px; */
  text-align: center;
  border-radius: 25px;
  color: white;
  /* font-weight: bold; */
  line-height: 25px;
  border: none;
}
img.alert {
  position: relative;
  top: 7px;
}
